@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    -fx-bg: #232323;
    -fx-upp-bg: #2C2C2C;
    -fx-special: #6545f6;
    -fx-special-darker: #4a29d9;
    -fx-text-color: #E3E3E3;
    -fx-special-2: #2EE5A8;
    -fx-icon: #dfdcdc;
    -fx-border: #424242;
    -fx-error: #ce0e0e;

    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Kanit";
}

.parent{
    -fx-text-fill: -fx-text-color;
    -fx-background-color: -fx-bg;
    -fx-font-size: 14.5px;
}

.up,.check-box .box{
    -fx-background-color: -fx-upp-bg;
}

.icon{
    -fx-fill: -fx-icon;
}

.icon:hover{
    -fx-fill: -fx-special;
    -fx-cursor: hand;
}

.special-bg,.special-color,.check-box:selected .mark{
    -fx-background-color: -fx-special;
}

.special-2-bg,.special-2-color{
    -fx-background-color: -fx-special-2;
}

.button{
    -fx-font-size: 13px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: -fx-special;
}

.button:hover{
    -fx-background-color: -fx-special-darker;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-color: -fx-border,-fx-upp-bg;
}

.check-box .box{
    -fx-border-color:-fx-upp-bg;
    -fx-border-radius: 3px; 
}

.tooltip {
    -fx-show-delay: 10ms !important;
    -fx-background-color: -fx-special;
    -fx-margin: 2px;
}

.session-data{
    -fx-padding: 5px;
    -fx-background-color: -fx-special;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-font-weight: bold;
    -fx-font-size: 12.5px;
}

.dialog-pane{
    -fx-border-color: -fx-border;
    -fx-border-width: 1px;
    -fx-background-color: -fx-upp-bg;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.dialog-pane .button{
    -fx-font-size: 12.5px !important;
    -fx-padding: 5px !important;
}

.dialog-pane .header-panel{
    -fx-background-color: -fx-upp-bg;
    -fx-padding: 5px 10px 0px;
    -fx-font-weight: bold;
}

.bordered{
    -fx-border-color: -fx-border;
}