.container{
    -fx-padding: 10px;
}

.navbar .label{
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.navbar .label.active{
    -fx-text-fill: -fx-special;
    -fx-padding: 0px 0px 10px 0px;
    -fx-border-color: -fx-bg -fx-bg -fx-special -fx-bg;
    -fx-border-width: 0px 0px 3.5px 0px;
}

.navbar .label:hover{
    -fx-cursor: hand;
    -fx-text-fill: -fx-special;
}

.parameter-section{
    -fx-background-color: -fx-bg;
}